<div style="display:flex; width: min(1200px, 90%); margin: auto;">
  <div style="width: 50%;">
    <img src="{{ product.featured_image | img_url: '600x600'}}"/>
  </div>
  <div style="width: 50%;">
    <h1>{{ product.title }}</h1>
    <p>⭐⭐⭐⭐⭐</p>
    <p>{{ product.description }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}