<div style="width: min(1200px, 90%); margin: auto;">
  <h2 class="title-center">Hover Over Each AQI Category to Learn More</h2>
  <ul style="display: flex; gap: 1rem;  flex-wrap: wrap; list-style: none; padding: 1rem 0.5rem;">
    <li class="aqi-btn good-active">
        AQI 0 - 50
    </li>
    <li class="aqi-btn moderate">
        AQI 51 - 100
    </li>
    <li class="aqi-btn sensitive">
        AQI 101 - 150
    </li>
    <li class="aqi-btn unhealthy">
        AQI 151 - 200
    </li>
    <li class="aqi-btn very-unhealthy">
        AQI 201 - 300
    </li>
    <li class="aqi-btn hazardous">
        AQI 301 - 500
    </li>
  </ul>
  <ul style="list-style: none; margin-bottom: -1rem;">
    <li class="aqi-description show">
      <div class="aqi-description-content">
        <p style="color: var(--good);">AQI 0-50</p>
        <p class="aqi-level-text">GOOD</p>
        <p>Air quality is considered satisfactory, and air pollution poses little or no risk.</p>  
      </div>
      <div class="aqi-image">
        <img
          width="100%"
          src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker.jpg?v=1661356024" 
        />
      </div>
    </li>
    <li class="aqi-description hide">
      <div class="aqi-description-content">
        <p style="color: var(--moderate);">AQI 51-100</p>  
        <p class="aqi-level-text">MODERATE</p>  
        <p>Air quality is acceptable: however, for some pollutants 
          there may be a moderate health concern for a very small 
          number of people who are unusually sensitive to air pollution.
        </p>  
      </div>
      <div class="aqi-image">
        <img
          width="100%"
          src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-fair.jpg?v=1661356024" 
        />
      </div>
    </li>
    <li class="aqi-description hide">
      <div class="aqi-description-content">
        <p style="color: var(--sensitive);">AQI 101-150</p>  
        <p class="aqi-level-text">UNHEALTHY FOR SENSITIVE GROUPS</p>  
        <p>Members of sensitive groups may experience health effects. The general public is not likely to be affected.</p>  
      </div>
      <div class="aqi-image">
        <img
          width="100%"
          src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-moderate.jpg?v=1661356023" 
        />
      </div>
    </li>
    <li class="aqi-description hide">
      <div class="aqi-description-content">
        <p style="color: var(--unhealthy);">AQI 151-200</p>  
        <p class="aqi-level-text">UNHEALTHY</p>  
        <p>Everyone may begin to experience health effects, members of sensitive groups may experience more serious health effects.</p>  
      </div>
      <div class="aqi-image">
        <img
          width="100%"
          src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-bad.jpg?v=1661356024" 
        />
      </div>
    </li>
    <li class="aqi-description hide">
      <div class="aqi-description-content">
        <p style="color: var(--very-unhealthy);">AQI 201-300</p>  
        <p class="aqi-level-text">VERY UNHEALTHY</p>  
        <p>Health alert: everyone may experience more serious health effects.</p>  
      </div>
      <div class="aqi-image">
        <img
          width="100%"
          src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-hazardous.jpg?v=1661356023" 
        />
      </div>
    </li>
    <li class="aqi-description hide">
      <div class="aqi-description-content">
        <p style="color: var(--hazardous);">AQI 301-500</p>  
        <p class="aqi-level-text">HAZARDOUS</p>  
        <p>Health warnings of emergency conditions. The entire population is more likely to be affected.</p>  
      </div>
      <div class="aqi-image">
        <img
          width="100%"
          src="//cdn.shopify.com/s/files/1/1413/8998/files/WYND_Plus_tracker-hazardous2_1024x1024_b913f512-0641-40d6-b64f-03b368912698_1024x1024.webp?v=1650920379" 
        />
      </div>
    </li>
  </ul>
</div>


{% schema %}
  {
    "name": "Aqi Categories",
    "settings": []
  }
{% endschema %}

{% stylesheet %}

  :root {
    --good: #33c9d3;
    --moderate: #f8d766;
    --sensitive: #f0b86a;
    --unhealthy: #f08589;
    --very-unhealthy: #9636af;
    --hazardous: #7e6ae2;
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
  }

  .title-center {
    text-align: center;
  }

  .aqi-btn {
    text-align: center;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }
  
  .good {
    border: 2px solid var(--good);
    color: var(--good);
  }
  
  .good-active {
    border: 2px solid var(--good);
    background-color: var(--good);
    color: white;
  }

  .good:hover {
    cursor: pointer;
  }

  .good-active:hover {
    cursor: pointer;
  }
  
  .moderate {
    border: 2px solid var(--moderate);
    color: var(--moderate);
  }

  .moderate-active {
    border: 2px solid var(--moderate);
    background-color: var(--moderate);
    color: white;
  }

  .moderate:hover {
    cursor: pointer;
  }

  .moderate-active:hover {
    cursor: pointer;
  }
  
  .sensitive {
    border: 2px solid var(--sensitive);
    color: var(--sensitive);
  }
  
  .sensitive-active {
    border: 2px solid var(--sensitive);
    background-color: var(--sensitive);
    color: white;
  }

  .sensitive:hover {
    cursor: pointer;
  }

  .sensitive-active:hover {
    cursor: pointer;
  }
  
  .unhealthy {
    border: 2px solid var(--unhealthy);
    color: var(--unhealthy);
  }
  
  .unhealthy-active {
    border: 2px solid var(--unhealthy);
    background-color: var(--unhealthy);
    color: white;
  }

  .unhealthy:hover {
    cursor: pointer;
  }

  .unhealthy-active:hover {
    cursor: pointer;
  }
  
  .very-unhealthy {
    border: 2px solid var(--very-unhealthy);
    color: var(--very-unhealthy);
  }
  
  .very-unhealthy-active {
    border: 2px solid var(--very-unhealthy);
    background-color: var(--very-unhealthy);
    color: white;
  }

  .very-unhealthy:hover {
    cursor: pointer;
  }

  .very-unhealthy-active:hover {
    cursor: pointer;
  }
  
  .hazardous {
    border: 2px solid var(--hazardous);
    color: var(--hazardous);
  }

  .hazardous-active {
    border: 2px solid var(--hazardous);
    background-color: var(--hazardous);
    color: white;
  }

  .hazardous:hover {
    cursor: pointer;
  }

  .hazardous-active:hover {
    cursor: pointer;
  }

  .aqi-description-content {
    width: 50%;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .aqi-level-text {
    font-size:2em;
    font-weight: 550;
  }

  .aqi-image {
    width: 50%;
  }
  
{% endstylesheet %}

{% javascript %}

  const inactiveClasses = [
    ["aqi-btn", "good"], 
    ["aqi-btn", "moderate"], 
    ["aqi-btn", "sensitive"], 
    ["aqi-btn", "unhealthy"],
    ["aqi-btn", "very-unhealthy"],
    ["aqi-btn", "hazardous"]
  ];
  const activeClasses = [
    ["aqi-btn", "good-active"], 
    ["aqi-btn", "moderate-active"], 
    ["aqi-btn", "sensitive-active"], 
    ["aqi-btn", "unhealthy-active"],
    ["aqi-btn", "very-unhealthy-active"],
    ["aqi-btn", "hazardous-active"]
  ];
  const aqiButtons = document.querySelectorAll('.aqi-btn');
  const aqiDescriptions = document.querySelectorAll('.aqi-description');
  
  aqiButtons.forEach((btn, index) => {
    btn.addEventListener('mouseover', () => {
      aqiButtons.forEach((btn, btnIndex) => {
        if (btnIndex === index) {
          console.log(btn);
          btn.classList.remove(...btn.classList);
          activeClasses[btnIndex].forEach(className => {
            btn.classList.add(className);
          });
        } else {
          btn.classList.remove(...btn.classList);
          inactiveClasses[btnIndex].forEach(className => {
            btn.classList.add(className);
          });
        }
      });

      aqiDescriptions.forEach(description => {
        description.classList.remove('show');
        description.classList.add('hide');
      });
      aqiDescriptions[index].classList.remove('hide');
      aqiDescriptions[index].classList.add('show');
    });
  });
{% endjavascript %}