<div class="product-demo-container">
  <div class="product-demo-image">
    <img 
      width="100%"
      src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_1.jpg?v=1661349500"
    />
  </div>
  <div class="product-demo-image">
    <img 
    width="100%"
      src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_2.jpg?v=1661349500"
    />
  </div>
  <div class="product-demo-image">
    <img 
    width="100%"
      src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_3.jpg?v=1661349501"
    />
  </div>
  <div class="product-demo-image">
    <img 
    width="100%"
      src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_4.jpg?v=1661349500"
    />
  </div>
</div>

{% schema %}
  {
    "name": "Plus In Use",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  .product-demo-container {
    display:flex; 
    gap:1rem; 
    padding: 0 1rem; 
    max-width:100vw;
  }
  .product-demo-image {
    max-width: 25%;
  }
{% endstylesheet %}