<h2 class="title-center">Hover Over Each AQI Category to Learn More</h2>
<ul style="display: flex; gap: 1rem;  flex-wrap: wrap; list-style: none; padding: 1rem 0.5rem;">
  <li class="good">
    <p class="btn-text">
      AQI 0 - 50
    </p>
  </li>
  <li class="moderate">
    <p class="btn-text">
      AQI 51 - 100
    </p>
  </li>
  <li class="unhealthy-sensitive">
    <p class="btn-text">
      AQI 101 - 150
    </p>
  </li>
  <li class="unhealthy">
    <p class="btn-text">
      AQI 151 - 200
    </p>
  </li>
  <li class="very-unhealthy">
    <p class="btn-text">
      AQI 201 - 300
    </p>
  </li>
  <li class="hazardous">
    <p class="btn-text">
      AQI 301 - 500
    </p>
  </li>
</ul>
<ul>
  <img 
    style="display: list-item;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker.jpg?v=1661356024" />
  <img 
    style="display: none;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-fair.jpg?v=1661356024" />
  <img 
    style="display: none;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-moderate.jpg?v=1661356023" />
  <img 
    style="display: none;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-bad.jpg?v=1661356024" />
  <img 
    style="display: none;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-hazardous.jpg?v=1661356023" />
  <img 
    style="display: none;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_tracker-bad.jpg?v=1661356024" />
</ul>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  .hide {
    display: none;
  }

  .show {
    display: list-item;
  }

  .title-center {
    text-align: center;
  }
  .btn-text {
    text-align: center;
    margin: 0 auto;
  }
  .good {
    border: 2px solid #33c9d3;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }

  .good::hover {
    background-color: #33c9d3;
  }

  .good::active {
    background-color: #77DCE3;
  }
  
  .moderate {
    border: 2px solid #f8d766;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }
  .unhealthy-sensitive {
    border: 2px solid #f0b86a;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }
  .unhealthy {
    border: 2px solid #f08589;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }
  .very-unhealthy {
    border: 2px solid #9636af;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }
  .hazardous {
    border: 2px solid #7e6ae2;
    border-radius: 25px;
    flex: 1 1 0;
    width: 0;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}