<div style="display: flex;">
  <div style="max-width: 50%;">
    <video style="max-width: 100%;">
      <source 
        autoplay
        muted
        loop
        playsinline
        allowfullscreen
        src="https://cdn.shopify.com/s/files/1/1413/8998/files/WYND-tracker_1.mp4?v=1630979188"
        type="video/mp4"
      >
    </video>
  </div>
  <div>
    <p>Our detachable Air Quality Sensor connects to our 
      free iOS and Android app to measure you rair quality 
      in 3 different ways.
    </p>
    <ol>
      <li>
        <strong>1. Particulate Matter 2.5 (PM2.5)</strong>
        <p>
          Measures the concentration of particles 2.5 
          microns in diameter or smaller, in the air you breathe.
        </p>
      </li>
    </ol>
    <p>1. Particulate Matter 2.5 (PM2.5)</p>
    <p>Measures the concentration of particles 2.5 
      microns in diameter or smaller, in the air you breathe.
    </p>
    <p>2. Air Quality Index (AQI)</p>
    <p>A number between 0 (good) to 500 (bad) that 
      shows how polluted the air around you is.
    </p>
    <p>3. Wynd Air Score</p>
    <p>We combine multiple data points from PM2.5 
      & AQI to create our own proprietary Wynd 
      Score from 0-100.
    </p>

    









  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

