<div style="display:flex; gap:1rem; padding: 0 1rem; max-width:100vw;">
  <img 
    style="max-width:25%;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_1.jpg?v=1661349500"
  />
  <img 
    style="max-width:25%;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_2.jpg?v=1661349500"
  />
  <img 
    style="max-width:25%;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_3.jpg?v=1661349501"
  />
  <img 
    style="max-width:25%;"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_4.jpg?v=1661349500"
  />
</div>

{% schema %}
  {
    "name": "Plus In Use",
    "settings": []
  }
{% endschema %}