<div>
  <video>
    <source 
      autoplay
      muted
      loop
      src="https://cdn.shopify.com/s/files/1/1413/8998/files/WYND-tracker_1.mp4?v=1630979188"
      type="video/mp4"
    >
  </video>
  <div></div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

