<div style="background-color: #f5f5f5;">
  <div style="width: min(600px, 90%)">
    <h2>Hassle Free Ordering</h2>
    <div>
      <div>
        <p>Image</p>
        <p>Free & Fast Shipping on all orders</p>
      </div>
      <div>
        <p>Image</p>
        <p>100-day returns or exchanges</p>
      </div>
      <div>
        <p>Image</p>
        <p>Full refund if not completely satisfied</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hassle Free",
    "settings": []
  }
{% endschema %}