<div class="parallax-container">
  <img 
    width="100%"
    height="500px"
    src="https://cdn.shopify.com/s/files/1/0622/1715/8830/files/WYND_Plus_Parallax_desktop.jpg?v=1661417698" 
    alt="A couch with Wynd Plus purifying the air/"
  />
</div>


{% schema %}
  {
    "name": "Plus Parallax",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  .parallax-container {
    max-height:500px;
    object-fit: cover;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}