<h2>Hover Over Each AQI Category to Learn More</h2>
<ul style="display: flex; list-style: none; padding: 1rem 0.5rem;">
  <li>AQI 0 - 50</li>
  <li>AQI 51 - 100</li>
  <li>AQI 101 - 150</li>
  <li>AQI 151 - 200</li>
  <li>AQI 201 - 300</li>
  <li>AQI 301 - 500</li>
</ul>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}