<div style="display: flex; width: min(1200px, 90%); margin: auto;">
  <div style="display: flex; flex-direction: column; justify-content: center; width: min(300px, 20%);">
    <p>Free IOS & Android app</p>
    <a href="#">
      <img 
      src="//cdn.shopify.com/s/files/1/1413/8998/files/Apple-app_160x_78adff25-1ac3-4fe6-926a-a73bda89a3b0_170x.png?v=1633736695"
      />
    </a>
    <a href="#">
      <img 
      src="//cdn.shopify.com/s/files/1/1413/8998/files/Google-app_160x_e85332a2-2c09-46ae-a7b7-0b63b97f9166_170x.png?v=1633736696"
      />  
    </a>
  </div>
  <div style="width:80%:">
    <img src="{{ product.featured_image | img_url: '700x'}}"/>
  </div>
  
</div>
{% schema %}
  {
    "name": "How To Use",
    "settings": []
  }
{% endschema %}