<h2>Hover Over Each AQI Category to Learn More</h2>
<ul>
  <li>AQI 0 - 50</li>
  <li>AQI 51 - 100</li>
  <li>AQI 101 - 150</li>
  <li>AQI 151 - 200</li>
  <li></li>
  <li></li>
</ul>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}