<h2>Hover Over Each AQI Category to Learn More</h2>
<ul style="display: flex; gap: 1rem; list-style: none; padding: 1rem 0.5rem;">
  <li class="good">AQI 0 - 50</li>
  <li class="good">AQI 51 - 100</li>
  <li class="good">AQI 101 - 150</li>
  <li class="good">AQI 151 - 200</li>
  <li class="good">AQI 201 - 300</li>
  <li class="good">AQI 301 - 500</li>
</ul>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  .good {
    border: 2px solid black;
    border-radius: 5%;
    flex: 1 1 0;
    width: 0;
  }
  .moderate {
    border: 2px solid black;
  }
  .unhealthy-sensitive {
    border: 2px solid black;
  }
  .unhealthy {
    border: 2px solid black;
  }
  .very-unhealthy {
    border: 2px solid black;
  }
  .hazardous {
    border: 2px solid black;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}